<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <script src="js/jquery.js"></script>
    </head>
    <body>
        <div class="nav-container">
            <div class="nav">
                <span class="nav-title">Finance Management</span>
            </div>
        </div>
        <div class="err-container">
            <div class="err-main">
                <span class="err-text">404</span>
                <span class="err-desc">Are you lost?</span>
            </div>
        </div>
    </body>
</html>